.input-form{
  width: 100%;
  padding: 1%;
}

.form{
  background-color: #8dccad;
  padding: 2%;
  margin-top: 3% ;
  margin-left: 25%;
  margin-right: 25%;
}

.container{
  display: flex;
  flex-direction: column;
}

.new-button{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  margin-bottom: 2%;

}
